.group-pic{
  position: relative;

  .icon-cal {
    font-size: 26px;
    padding: 0 10px;
    position: absolute;
    top: 5px;
    cursor: pointer;
    transition: color 0.2s ease;
    color: #575757;
    &:hover{
      color: #393939;
    }
  }

  .date-pic{
    font-size: 15px;
    padding: 9px 10px;
    background-color: white;
    border: 1px solid #575757;
    border-radius: 5px;
    color:black;
    cursor: pointer;
    margin-left: 40px;
  }

  .pic-cal {

    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    z-index: 10;
    background: white;
    width: 100%;
    max-width: 270px;
    top: 0;
    left: 0;
    position: absolute;
    display: none;

    .pic-head {
      font-size: 14px;
      text-align: center;
      font-weight: bold;
      background-color: #0b72b8;
      color: white;
      padding: 5px 0 10px 0px;

      .pic-close{
        display: flex;
        justify-content: flex-end;
        padding: 5px;
        i {
          font-size: 15px;
          cursor: pointer;
        }
      }

      .pic-date{
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 100%;

        i {
          font-size: 15px;
          cursor: pointer;
        }

        .left-pic {
          position: absolute;
          left: 5px;
          top: 3px;
        }
        .right-pic {
          position: absolute;
          right: 5px;
          top: 3px;
        }

        .pic-year, .pic-month{
          font-size: 14px;
        }
        .pic-month{
          margin-right: 5px;
        }
      }
    }

    table {
      border-collapse: collapse;
      display: inline-block;
      margin-top: 10px;
      td {
        font-size: 14px;
        width: 25px;
        height: 25px;
        line-height: 14px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 600;
      }

      thead {
        th {
          color: grey;
        }
      }

      td.full {
        &:hover{
          color: white;
          background-color: #0b72b8;
        }
      }

      td.full.active{
        color: white;
        background-color: #0b72b8;
      }
    }
  }
}